h1
{
    color: darkturquoise;
    font-family: "Lucida Console";
    font-weight: bold;
    font-size: xxx-large;
}

.p1
{
    color: white;
    font-family: "Lucida Console";
    font-size: xx-large;
    font-weight: 900;
}

.time
{
    color: white;
    text-align: center;
    font-size: 100px;
    font-family: "Lucida Console";
}

body
{
    background-color: black;
    text-align: center;
}

.vertical_center
{
    margin-top: 50vh;
    transform: translateY(-50%);
}