@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(30, 30, 30);
}

#canvas2
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background: rgb(164, 86, 139);*/
    background-color: white;
}


body
{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
}


.clock
{
    z-index: 1;
    width: 700px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clock div
{
    background-color: white;
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: #202020;
    border-radius: 30px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    letter-spacing: 7px;

    border: 3mm ridge rgb(52, 52, 52);
}

.clock span
{
    font-weight: bold;
    font-size: 100px;
    color : white;
}

.buttonnext
{

    z-index: 1;
    color: black;
    font-size: 40px;
    width: 200px;
    height: 60px;
    position: absolute;
    right: 5%;
    bottom: 5%;
    font-family: 'Outfit', sans-serif;
    border-radius: 30px;
    border: none;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.buttonprev
{

    z-index: 1;
    color: black;
    font-size: 40px;
    width: 200px;
    height: 60px;
    position: absolute;
    left: 5%;
    bottom: 5%;
    font-family: 'Outfit', sans-serif;
    border-radius: 30px;
    border: none;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.check-box
{
    width: 60px;
    height: 60px;
    border-radius: 40px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 100%;
    opacity: 0;
}

.check-box svg
{
}

svg path
{
    stroke-width: 3;
    stroke: white;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.active
{
    background: salmon;
    transition: 0.5s;
}

.active .check-box
{
    right: 0%;
    opacity: 1;
    transition: 0.5s;
}

.active .text
{
    margin-right: 60px;
    transition: 0.5s;
}

.active svg path
{
    stroke-dashoffset: 0;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.disactive
{
    background: white;
    transition: 0.5s;
}

.disactive .check-box
{
    right: 100%;
    opacity: 0;
    transition: 0.5s;
}

.disactive .text
{
    margin-right: 0px;
    transition: 0.5s;
}

.disactive svg path
{
    stroke-dashoffset: 34;
    transition: 0.25s;
}
